# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ / IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Build
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Variáveis de ambiente locais
.env
.env.local

# Qodana
.qodana/
